// 1 - Base Reset
@import '1-base/reset';


// 2 - Layouts
@import '2-layouts/header';
@import '2-layouts/navbar';
@import '2-layouts/main';
@import '2-layouts/aside';
@import '2-layouts/footer';


.content{
    // border: 1px solid black;
    width: 1000px;
    height: 100%;
    margin: 0 auto;

    font-family: "Nunito Sans";

    hr{
        color: rgb(255, 255, 255);
    }

    @media (max-width:768px) {
        // background-color: gray;

        width: 100%;
    }
}
