*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    // width: 100vw;
    height: 1400px;

    @media (max-width:768px) {
        height: 135em;
    }

    // border: 3px solid red;
}

.content{
    // border: 1px solid black;
    width: 1000px;
    height: 100%;
    margin: 0 auto;

    font-family: "Nunito Sans";

    hr{
        color: rgb(255, 255, 255);
    }

    @media (max-width:768px) {
        // background-color: gray;

        width: 100%;
    }
}

.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 125px;
    // border: 1px solid black;

    &-icon{
        // border: 1px solid green;
        width: 200px;
        

        p{
            display: flex;
            justify-content: center;
            font-family: "Caesar Dressing";
            font-weight: 400;
            font-size: 56px;

            @media (max-width:768px) {
                font-size: 45px;
            }
        }


        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid yellow;

            @media (max-width:768px) {
                display: none;
            
            }

            li{
                list-style: none;
                // padding: 32px;
                cursor: pointer;
            }
        }

    }

}

.navbar-content{
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100px;

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;
        // border: 1px solid black;

        @media (max-width:768px) {
            justify-content: space-evenly;
        }

        li{
            list-style: none;
            cursor: pointer;

            p{
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                @media (max-width:768px) {
                    font-size: 13px;
                    
                }
            }
        }
    }
    
    
}

.main-content{
    // border: 2px solid black;
    height: 900px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    @media (max-width:768px) {
        // justify-content: space-between;
        // align-items: center;
        // flex-direction: row;
        height: 103em;
    }

    &-images{
        display: flex;
        justify-content: space-between;

        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            // border: 1px solid black;
            height: 100%;
        }

        &-games{
            width: 300px;
            cursor: pointer;

            @media (max-width:768px) {
                width: 90%;
                border-radius: 10px;
            }
        }
    }

    &-car{
        width: 100%;
        cursor: pointer;

        justify-content: space-between;
        

        @media (max-width:768px) {
            display: none;
        }
    }
}

.aside-content{
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:768px) {
        height: 100px;
        
    }

    p{
        padding-right: 10px;
        cursor: pointer;

        @media (max-width:768px) {
            font-size: 13px;
            
        }
    }

}

.footer-content{
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    // align-items: center;

    font-size: 15px;
    height: 120px;

    @media (max-width:768px) {
        display: flex;
        height: 100px;
        // border: 1px solid red;
    }


    ul{
        display: flex;
        align-items: flex-end;
        color: rgb(141, 141, 141);

        @media (max-width:768px) {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;

            height: 100%;
            width: 50%;
            margin: 0 15px;
            font-size: 12px;

            // border: 1px solid black;
            
        }

        &:nth-child(2){
            // border: 1px solid red;
            width: 380px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            @media (max-width:768px) {
                display: flex;
                justify-content: flex-end;
                width: 50%;
            }
            
            li{
                cursor: pointer;
            }
        }

        li{
            list-style: none;
            
        }
    }
}
